body {
  margin: 0px;
  box-sizing: 100px;
}
.layout {
  display: flex;
  flex-direction: row;
}
.layout > .sidenav {
  padding: 20px 20px 20px 20px;
  background-color: rgb(4, 236, 236);
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 200px;
  min-width: 150px;
  flex-wrap: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.sidenav > nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidenav > nav > a {
  text-decoration: none;
  font-size: 20px;
}

.content {
  padding: 20px 20px 20px 20px;
  height: 100vh;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  overflow: auto;
}
.cardSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px; 
}
.cardSection > .card {
  background-color: rgb(197, 20, 49);
  height: 150px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
}
