body {
  margin: 0px;
}
.layout {
  display: flex;
  flex-direction: row;
}
.layout > .sidenav {
  padding: 20px 20px 20px 20px;
  background-color: rgb(4, 236, 236);
  height: calc(100vh - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 30%;
  max-width: 200px;
}
.sidenav > nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidenav > nav > a {
  text-decoration: none;
  font-size: 20px;
}

.content {
  padding: 20px 20px 20px 20px;
  width: 60%;
  height: calc(100vh - 40px);
  overflow: auto;
}
.cardSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}
.cardSection > .card {
  background-color: rgb(197, 20, 49);
  height: 120px;
  width: 25%;
}
