* {
  box-sizing: border-box;
}
body {
  margin: auto;
  width: 100vh;
  padding: 5px;
}

ul {
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-basis: 1;
  align-content: center;
  gap: 1px;
  justify-content: space-around;
}

a {
  background-color: rgb(58, 58, 194);
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

ul li {
  list-style: none;
  flex-grow: 1;
}

.contanor {
  border-radius: 5px;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin: auto;
}

.item {
  border: 2px rgb(161, 161, 240) solid;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(64, 64, 202);
  text-align: center;
  color: white;
  border-radius: 10px;
}

.p {
  border: 1px rgb(103, 103, 192) solid;
  border-radius: 10px;
  height: 40vh;
  justify-content: center;
  display: flex;
  flex-shrink: 1;
  flex-basis: 1;
  align-items: center;
}

.c {
  color: white;
  font-size: 20px;
  background-color: rgb(64, 64, 202);
  border-radius: 3px;
  height: 50px;
  width: 150px;
  text-align: center;
  align-content: center;
  padding: 10px;
}

.p1 {
  border: 1px solid rgb(103, 103, 192);
  font-size: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.col {
  background-color: rgb(64, 64, 202);
  border: 1px solid rgb(103, 103, 192);
  flex-grow: 1;
}

.box1 {
  border: 1px solid black;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 100vh;

}

.box {
  border: 1px solid black;
  flex-grow: 1;
  height: 50px;
  width: 150px;

}

.box2 {
    height: 50vh;
}
.box3 {
  flex-direction: row;
}
.box4 {
}
.box5 {
}
.box6 {
  flex-direction: column;
}
.box7 {
}
.box8 {
}
.box9 {
  flex-direction: row;
}
.box10 {
}
.box11 {
}
.box12 {
}
