.parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid red;
    flex-direction: row;
    
}
.child{
flex: 1;
width: 100px;
}
.flex-row{
flex-direction: row;
}
.flex-col{
flex-direction: column;
}
.child1{
    flex: 1;
}
.child2{

}